<h1>Transactions by Tag</h1>

<h4>Click on a tag to view expenditure by that tag:
  <ul>
   <% @tags.each do |tag| %>
    <li><a href="/transactions/bytag/<%= tag.tag_id %>"><%= tag.name %></a></li>
    <% end %>
  </ul>
</h4><ul>

<h3>Total spent: £<%= @total %></h3>

<% @transactions.each do |transaction| %>
  <p>Amount: <%= transaction.amount %></p>
  <p>Merchant: <%= transaction.merchant.name %></p>
  <p>Tag: <%= transaction.tag.name %></p>
  <hr>
  <% end %>

