<h1>Transactions by Tag</h1>

<h4>Click tag to view expenditure by tag:
  <ul>
   <% @tags.each do |tag| %>
    <li><a href="/transactions/bytag/<%= tag.tag_id %>"><%= tag.name %></a></li>
    <% end %>
  </ul>
</h4><ul>

<h3>Total spent: £<%= @total %></h3>

<% @transactions.each do |transaction| %>
  <p><b>Amount: £<%= transaction.amount %></b></p>
  <p>Merchant: <%= transaction.merchant.name %></p>
  <p>Tag: <%= transaction.tag.name %></p>
  <p>Date: <%= transaction.date %></p>
  <form>
  <input type="button" value="Edit Transaction" onclick="window.location.href='/transactions/edit/<%= transaction.transaction_id %>'" />
  </form>
  <hr>
  <% end %>

