<h1>Manage Your Transactions</h1>

<h2>Total Expenditure: £<%= @total %></h2>

<h3>View expenditure by tag:</h3>
 <ul>
  <% @tags.each do |tag| %>
   <li><a href="/transactions/bytag/<%= tag.tag_id %>"><%= tag.name %></a></li>
   <% end %>
 </ul>


<h2>Transaction Record:</h2>
<% @transactions.each do |transaction| %>
  <p>Merchant: <%= transaction.merchant.name %></p>
  <p>Tag: <%= transaction.tag.name %></p>
  <p>Date: <%= transaction.date %></p>
  <p><b>Amount: £<%= transaction.amount %></b></p>
  <form>
  <input type="button" value="Edit Transaction" onclick="window.location.href='/transactions/edit/<%= transaction.transaction_id %>'" />
  </form>
  <hr>
  <% end %>


  

